#add-element {
  width: 100px;
  padding: 10px;
  border: 2px solid black
}

#summary-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 5px lightgray;
  padding: 5px;
}

#message-menu, #message-chunk-menu, #answer-menu {
  display: none;
  z-index: 2;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 5px lightgray;
  padding: 5px;
}

#summary-container {
  border: 2px solid black;
  margin: 10px;
}

.dropDown input{
  margin-bottom: 5px;
}

.messageContainer {
  background-color: rgb(211, 211, 211);
  padding: 3px;
  border-radius: 5px;
  margin-top: 3px;
}

.message {
  position: relative;
  width: 50%
}

.answer {
  border: 2px solid red;
  position: relative;
  display: inline-block;
}

.question {
  border: 3px solid orange;
}

.next {
  position: relative;
  border: 2px solid gray;
}

.nextContainer, .labelContainer, .answerContainer, .containerForAnswers, .completeContainer, .eventContainer{
  margin-left: 20px;
  position: relative;
  white-space: nowrap;
}

.event {
  position: relative;
  border: 2px solid green;
}

.name {
  position: relative;
  border: 2px solid black;
}

.nameContainer {
  position: relative;
  white-space: nowrap;
  display: block;
}

.messageChunkContainer {
  background-color: rgb(81, 81, 81);
  padding: 5px;
  radius: 5px;
  margin-bottom: 10px;
  min-height: 10px;
}

.messageChunkContainer.dragOver {
  background-color: lightblue;
}

.messageContainer.dragOver {
  border: 2px solid blue;
}